@import "~react-bulma-components/src/index.sass", "letter.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navbar--logo {  
  height: 40vmin;
}

.footer {
  padding: 1.5rem;
  background: #FAFAFA;
}


/* UTILITIES */

.mg-b-l {
  margin-bottom: 2em !important;
}