$passage-width: 700px;
$passage-height: $passage-width * 1.3;

#passage {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    width: $passage-width;
    height: $passage-height;
}

@media screen and (max-width: 750px) {
    $passage-width: 500px;
    $passage-height: $passage-width * 1.3;

    #passage {
        width: $passage-width;
        height: $passage-height;
    }
}